<%= render 'password/header' %>
<div class="ui center aligned basic segment">
  <%= form_with(model:@user) do |form| %>
    <div class="ui left icon action input">
      <i class="angle double right icon"></i>
      <%= form.email_field :email, placeholder:"Enter email"%>
      <%= form.submit "Submit", class:"ui blue submit button", id:"custom_btn"%>
    </div>
  <% end %>
  <div class="ui horizontal divider">
    Or
  </div>
  <%= link_to '/account/signup' do %>
    <div class="ui teal labeled icon button">
        Create New Account
        <i class="add icon"></i>
    </div>
  <% end %>
</div>