<%= render 'password/header' %>
<p><%= notice%></p>
<div class="ui container">
  <div class="ui form">
    <%= form_for(:user) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
      <%= form.label :new_password %><br />
      <%= form.password_field :password, placeholder:"Enter New Password"%>
      </div>
      <div class="field">
      <%= form.label :confirm_new_password%>
      <%= form.password_field :password_confirmation, placeholder:"Enter Confirm New Password"%>

      </div>
      
      <button class="ui orange button" type="submit">Submit</button>
    <% end %>
  </div>
</div>