<h2 class="ui center aligned icon header">

  <i class="orange settings icon"></i>
  <div class="content">
    Account Settings
    <div class="sub header">Manage your account settings and your preferences.</div>
</h2>
<p><%= notice%></p>

<div class="ui container">
  <div class="ui two column grid">
   <div class="twelve wide column">
      <div class="ui form">
        <%= form_with  do |form| %>
          <div class="field">
            <%= form.label :first_name %>
            <%= form.text_field :first_name, placeholder:"First Name"%>
          </div>
          <div class="field">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, placeholder:"Last Name"%>
          </div>
          <div class="two wide fields">
              <div class="field">
                <%= form.label :mobile_number %>
              <%= form.number_field :mobile_number, placeholder:"Mobile Number"%>
              </div>
              <div class="field">
                <%= form.label :date_of_birth %>
                <%= form.date_field :date_of_birth %>
              </div>
          </div>
          <div class="field">
            <%= form.label :profile_image %>
            <%= form.file_field :profile_image%>

          </div>
          <%= form.submit class:'ui orange button submit'%>
        <% end %>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="ui card">
  <a class="image" href="#">
    <img src="https://raw.githubusercontent.com/whoisryosuke/semantic-ui-react-clean/master/docs/public/images/avatar/large/jenny.jpg">
  </a>
  <div class="content">
    <a class="header" href="#">Steve Jobes</a>
    <%=%>
    <div class="meta">
      <a> +91-1234567890 </a>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>